<!-- treatment details modal --> 
<div class="modal fade letter-commitment" tabindex="-1" role="dialog" aria-labelledby="letter-commitment" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4><strong>A commitment to students</strong></h4>
			</div>
			<div class="modal-body">
				<p>I wanted to thank The Hustler for bringing awareness of disordered eating to the Vanderbilt community and addressing the need for services for those who struggle with this issue (“A culture of disordered eating,” March 26). However, I want to emphasize important information about the PCC treatment options for students with eating disorders. The PCC has a carefully designed protocol, developed from evidence-based practices, that includes collaborative care with Student Health Center and nutritional services. We are very concerned about the students who face this challenge and take seriously our responsibility in caring for them.</p>
				<p>Our protocol consists of a four-phase treatment process. The first phase is concerned with assessment of the acuity and duration of the disordered eating, along with work to stabilize the client physically and emotionally. The second phase is concerned with harm reduction. During this phase, a clinical team is put together with clinicians from the PCC (therapist, medication provider) and the Student Health Center (internist, nutritionist). These team members work together to make sure that the client receives information from experts in the various areas of life impacted by the disordered eating. The third phase consists of evidenced-based treatment for disordered eating. In most cases, clients will participate in a combination of services with members of his or her treatment team. The final phase of treatment involves consolidation of treatment gains to facilitate the transition from the end of treatment to greater engagement with self, relationships and school. If at any time it is evident that the client needs a higher level of care, appropriate referrals are made to community providers who can partner with the PCC group resources in providing care. In short, the PCC is committed to treating students with disordered eating and body image concerns, and we work with a variety of campus partners in doing so.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- end modal --> 