<!-- treatment details modal --> 
<div class="modal fade letter-treatment" tabindex="-1" role="dialog" aria-labelledby="letter-treatment" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4><strong>Making treatment a priority</strong></h4>
			</div>
			<div class="modal-body">
				<p>Cheers to The Hustler for addressing the very serious epidemic of eating disorders on campus with the March 26 article "A culture of disordered eating.” However, in evaluating Vanderbilt's available services, it would have been helpful to include the testimony of someone who has actually utilized the PCC and Student Health Center, though I understand that finding and reaching out to willing participants would be difficult. As someone who struggles with an eating disorder and extensively visits both the PCC and the nutritionist Janell Pendergrass at the Student Health Center, I have some insights to share.</p>
				<p>First, I think the main issue is whether or not students are making the healing process a priority. This makes sense; if you have an eating disorder it follows that you’re not making your health a priority. My experience with the PCC in dealing with my eating disorder has been nothing but satisfactory. When I did not "mesh" well with the first therapist assigned to me, it was easy to request a new therapist, whom I have been seeing for almost a year. This therapist has helped me make great strides to recovery and has been integral to my success. Yes, scheduling can be difficult, but I made the decision to make therapy a priority — which means sometimes making really early morning appointments or occasionally missing a class.</p> 
				<p>It’s also easiest to ensure weekly appointments by scheduling for the next week at the conclusion of each appointment.
				In addition, I am constantly being reminded that I can reach out to my therapist through a phone call or email if I need help. As Cindy Green pointed out, supplementing individual therapy with group therapy is also a great option when scheduling is difficult. Though it’s not for everyone, I have found group therapy extremely helpful. Ironically, while the common complaint is that the PCC’s resources are inadequate, my therapy group is actually very low in participants, even after the PCC spent weeks trying to recruit students.</p>
				<p>My other point is in regards to the Student Health nutritionist, Janell Pendergrass: I agree with the statement that her hours are entirely too limited. Janell has been a great supplementary, scientific resource, but she can only be seen if you schedule weeks in advance. I think Vanderbilt would greatly benefit from added nutritionists. This would take the pressure off Janell Pendergrass from being the sole nutritional resource for the many women (and men!) who suffer from eating disorders on this campus.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- end modal --> 