.jumbo
	height: 100vh
	padding: 150px 0
	position: relative

.jumbo-image
	background-size: cover

// article styles
.article-meta
	padding-top: 100px

.name-title
	padding-top: 10px

.author-title
	font-weight: bold

.headshot	img
	border-radius: 50%
	max-width: 100px
	margin: 0 auto
	display: block

.article-date
	position: absolute
	bottom: -25px
	right: 20px
	span
		font-size: 1.3rem
		color: $gray
		font-family: $headline


.article-content	
	padding-top: 40px
	img
		max-width: 100%

.article-lede
	font-style: italic
	line-height: 1.5

.article-subhead
	font-weight: bold
	margin: 40px 0 20px 0 

.article-section p 
	position: relative // allows positioning asides

.aside
	+breakpoint(md)
		position: absolute
		font-size: 1.6rem
		font-family: $sans-serif
		margin-top: -25%
	&.right
		+breakpoint(md)
			left: 100%
			margin-left: 20px
	&.left
		+breakpoint(md)
			right: 100%
			margin-right: 20px

.panel, .panel-body
	font-family: $sans-serif
	p
		font-size: 2rem