// header styles
.site-header
	padding: 20px
	background-color: $black
	position: fixed
	z-index: 10
	height: 100px
	width: 100%
	+transition(transform .3s)

.site-header.headroom--unpinned
	+transform(translateY(-100px))

.branding
	font-family: $flag
	font-size: 2.8rem
	color: $white
	margin-top: 10px
	span
		font-size: 2.8rem
	+breakpoint(sm)
		font-size: 4rem
		margin-top: 0
		span
			font-size: 4rem

.nav-wrapper
	+breakpoint(md)
		display: none
	+below(md)
		position: fixed
		top: 120px
		right: 50px
		background-color: $black
		padding: 20px
		+transform(translateY(-400px))
		+transition(transform .3s)
	&.active
		+below(md)
			+transform(translateY(0))
	
.site-navigation, .page-navigation
	position: absolute
	right: 20px
	top: 30%

.site-navigation-list, .page-navigation-list
	list-style-type: none
	padding-left: 0

.site-nav-link
	+breakpoint(md)
		display: inline-block
		margin-right: 10px
	a
		color: white
		font-family: $sans-serif
		font-weight: 500
		&:hover
			color: $yellow
			text-decoration: none

// footer styles
 
.site-footer
	background-color: $black
	position: relative
	z-index: 5
	display: block
	color: $white
	font-family: $sans-serif
	font-size: 2rem
	address
		font-size: 2rem
	a
		font-weight: 500
	ul, ol
		list-style-type: none
		padding-left: 0 

.footer-search
	color: black
	position: relative
	i.glyphicon
		position: absolute
		right: 10px
		top: 5px
		color: black

// main styles
.main-content-wrapper	
	position: relative
	z-index: 5

.flex-container
	+breakpoint(sm)
		+display(flex)
		+justify-content(space-between)

.jumbo
	height: 100vh
	padding-top: 150px
	position: fixed
	z-index: 0
	right: 0 
	left: 0

.jumbo-image
	background-size: cover

// article styles
.written-by
	font-size: 2rem

.article-meta
	padding-top: 100px
	font-family: $sans-serif

.author-title
	font-weight: bold

.person-info
	position: absolute
	right: 100%
	width: 50%
	margin-top: -15%
	font-family: $sans-serif
	.person-name-title	
		padding-top: 10px
	.name, .title
		font-size: 2rem
	.title
		font-style: italic
	+below(lg)
		text-align: center

.headshot	img
	border-radius: 50%
	max-width: 100px
	margin: 0 auto
	display: block

.article-date
	position: absolute
	bottom: -25px
	right: 20px
	span
		font-size: 1.3rem
		color: $gray
		font-family: $headline

.main-content-wrapper
	padding-top: 100vh

.article-container
	position: relative
	z-index: 5
	background-color: $white

.article-content	
	padding-top: 40px
	img
		max-width: 100%

.article-lede
	font-style: italic
	line-height: 1.5

.article-subhead
	font-weight: bold
	margin: 40px 0 20px 0 

.article-section p 
	position: relative // allows positioning asides

.aside
	+breakpoint(md)
		position: absolute
		font-size: 1.6rem
		font-family: $sans-serif
		margin-top: -25%
	&.right
		+breakpoint(md)
			left: 100%
			margin-left: 20px
	&.left
		+breakpoint(md)
			right: 100%
			margin-right: 20px

.panel, .panel-body
	font-family: $sans-serif
	p
		font-size: 2rem

// letters to the editor
.letter-container
	+below(sm)
		margin-bottom: 20px
	+breakpoint(sm)
		width: 32%
		padding-bottom: 40px
		position: relative

.letters-to-the-editor
	padding-bottom: 40px

.letter
	padding: 20px

.letter-label
	text-transform: uppercase
	font-family: $sans-serif
	font-weight: bold
	font-size: 1.8rem

.letter-title
	margin-top: 0 

.letter-summary
	display: block

.letter-summary p
	font-size: 2rem

.letter-author
	font-family: $sans-serif
	font-size: 2rem

.letter-read-more
	+breakpoint(sm)
		position: absolute
		bottom: 20px