.jumbo
	height: 100vh
	padding: 150px 0
	position: relative

.jumbo-image
	background-size: cover

// article styles
.article-meta
	padding-top: 100px

.name-title
	padding-top: 10px

.author-title
	font-weight: bold

.headshot	img
	border-radius: 50%
	max-width: 100px
	margin: 0 auto
	display: block

.article-date
	position: absolute
	bottom: -25px
	right: 20px
	span
		font-size: 1.3rem
		color: $gray
		font-family: $headline


.article-content	
	padding-top: 40px

.article-lede
	font-style: italic
	line-height: 1.5

.article-subhead
	font-weight: bold
	margin: 40px 0 20px 0 
