/***

   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License

***/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.bg-navy {
  background-color: #001f3f; }

.bg-blue {
  background-color: #0074d9; }

.bg-aqua {
  background-color: #7fdbff; }

.bg-teal {
  background-color: #39cccc; }

.bg-olive {
  background-color: #3d9970; }

.bg-green {
  background-color: #2ecc40; }

.bg-lime {
  background-color: #01ff70; }

.bg-yellow {
  background-color: #ffdc00; }

.bg-orange {
  background-color: #ff851b; }

.bg-red {
  background-color: #ff4136; }

.bg-fuchsia {
  background-color: #f012be; }

.bg-purple {
  background-color: #b10dc9; }

.bg-maroon {
  background-color: #85144b; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #aaaaaa; }

.bg-silver {
  background-color: #dddddd; }

.bg-black {
  background-color: #111111; }

/* Colors */
.navy {
  color: #001f3f; }

.blue {
  color: #0074d9; }

.aqua {
  color: #7fdbff; }

.teal {
  color: #39cccc; }

.olive {
  color: #3d9970; }

.green {
  color: #2ecc40; }

.lime {
  color: #01ff70; }

.yellow {
  color: #ffdc00; }

.orange {
  color: #ff851b; }

.red {
  color: #ff4136; }

.fuchsia {
  color: #f012be; }

.purple {
  color: #b10dc9; }

.maroon {
  color: #85144b; }

.white {
  color: white; }

.silver {
  color: #dddddd; }

.gray {
  color: #aaaaaa; }

.black {
  color: #111111; }

/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid; }     
*/
.border--navy {
  border-color: #001f3f; }

.border--blue {
  border-color: #0074d9; }

.border--aqua {
  border-color: #7fdbff; }

.border--teal {
  border-color: #39cccc; }

.border--olive {
  border-color: #3d9970; }

.border--green {
  border-color: #2ecc40; }

.border--lime {
  border-color: #01ff70; }

.border--yellow {
  border-color: #ffdc00; }

.border--orange {
  border-color: #ff851b; }

.border--red {
  border-color: #ff4136; }

.border--fuchsia {
  border-color: #f012be; }

.border--purple {
  border-color: #b10dc9; }

.border--maroon {
  border-color: #85144b; }

.border--white {
  border-color: white; }

.border--gray {
  border-color: #aaaaaa; }

.border--silver {
  border-color: #dddddd; }

.border--black {
  border-color: #111111; }

/* Fills for SVG */
.fill-navy {
  fill: #001f3f; }

.fill-blue {
  fill: #0074d9; }

.fill-aqua {
  fill: #7fdbff; }

.fill-teal {
  fill: #39cccc; }

.fill-olive {
  fill: #3d9970; }

.fill-green {
  fill: #2ecc40; }

.fill-lime {
  fill: #01ff70; }

.fill-yellow {
  fill: #ffdc00; }

.fill-orange {
  fill: #ff851b; }

.fill-red {
  fill: #ff4136; }

.fill-fuchsia {
  fill: #f012be; }

.fill-purple {
  fill: #b10dc9; }

.fill-maroon {
  fill: #85144b; }

.fill-white {
  fill: white; }

.fill-gray {
  fill: #aaaaaa; }

.fill-silver {
  fill: #dddddd; }

.fill-black {
  fill: #111111; }

/* Strokes for SVG */
.stroke-navy {
  stroke: #001f3f; }

.stroke-blue {
  stroke: #0074d9; }

.stroke-aqua {
  stroke: #7fdbff; }

.stroke-teal {
  stroke: #39cccc; }

.stroke-olive {
  stroke: #3d9970; }

.stroke-green {
  stroke: #2ecc40; }

.stroke-lime {
  stroke: #01ff70; }

.stroke-yellow {
  stroke: #ffdc00; }

.stroke-orange {
  stroke: #ff851b; }

.stroke-red {
  stroke: #ff4136; }

.stroke-fuchsia {
  stroke: #f012be; }

.stroke-purple {
  stroke: #b10dc9; }

.stroke-maroon {
  stroke: #85144b; }

.stroke-white {
  stroke: white; }

.stroke-gray {
  stroke: #aaaaaa; }

.stroke-silver {
  stroke: #dddddd; }

.stroke-black {
  stroke: #111111; }

html {
  font-size: 10px; }

body {
  font-size: 10px;
  font-family: "minion-pro", serif;
  font-weight: 500;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", sans-serif; }

h1 {
  font-size: 5.2rem; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 7.2rem; } }

h2 {
  font-size: 4rem; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 6rem; } }

h3 {
  font-size: 3.2rem; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 4.8rem; } }

h4 {
  font-size: 4rem; }

h5 {
  font-size: 2.4rem; }
  @media only screen and (min-width: 768px) {
    h5 {
      font-size: 3.2rem; } }

p, div, span {
  font-size: 1.8rem; }
  @media only screen and (min-width: 768px) {
    p, div, span {
      font-size: 2.1rem; } }

a {
  color: #ffdc00;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover, a:focus, a:visited {
    text-decoration: underline;
    color: #e6c600; }

blockquote {
  font-family: "minion-pro", serif;
  font-style: italic;
  border-left: none;
  font-size: 2.6rem; }

cite {
  font-size: 1.8rem;
  font-family: "proxima-nova", sans-serif;
  text-align: right;
  display: block;
  color: #aaaaaa; }

.flag {
  font-family: "chunk", serif; }

.text-overlay {
  color: white; }

dl, ul, ol {
  font-size: 2rem; }

.no-bullets {
  list-style-type: none; }

.btn {
  font-family: "proxima-nova", sans-serif; }

audio {
  width: 100%; }

.site-header {
  padding: 20px;
  background-color: #111111;
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.site-header.headroom--unpinned {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px); }

.branding {
  font-family: "chunk", serif;
  font-size: 2.8rem;
  color: white;
  margin-top: 10px; }
  .branding span {
    font-size: 2.8rem; }
  @media only screen and (min-width: 768px) {
    .branding {
      font-size: 4rem;
      margin-top: 0; }
      .branding span {
        font-size: 4rem; } }

@media only screen and (min-width: 992px) {
  .nav-wrapper {
    display: none; } }
@media only screen and (max-width: 992px) {
  .nav-wrapper {
    position: fixed;
    top: 120px;
    right: 50px;
    background-color: #111111;
    padding: 20px;
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; } }
@media only screen and (max-width: 992px) {
  .nav-wrapper.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

.site-navigation, .page-navigation {
  position: absolute;
  right: 20px;
  top: 30%; }

.site-navigation-list, .page-navigation-list {
  list-style-type: none;
  padding-left: 0; }

@media only screen and (min-width: 992px) {
  .site-nav-link {
    display: inline-block;
    margin-right: 10px; } }
.site-nav-link a {
  color: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500; }
  .site-nav-link a:hover {
    color: #ffdc00;
    text-decoration: none; }

.site-footer {
  background-color: #111111;
  position: relative;
  z-index: 5;
  display: block;
  color: white;
  font-family: "proxima-nova", sans-serif;
  font-size: 2rem; }
  .site-footer address {
    font-size: 2rem; }
  .site-footer a {
    font-weight: 500; }
  .site-footer ul, .site-footer ol {
    list-style-type: none;
    padding-left: 0; }

.footer-search {
  color: black;
  position: relative; }
  .footer-search i.glyphicon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: black; }

.main-content-wrapper {
  position: relative;
  z-index: 5; }

@media only screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; } }

.jumbo {
  height: 100vh;
  padding-top: 150px;
  position: fixed;
  z-index: 0;
  right: 0;
  left: 0; }

.jumbo-image {
  background-size: cover; }

.written-by {
  font-size: 2rem; }

.article-meta {
  padding-top: 100px;
  font-family: "proxima-nova", sans-serif; }

.author-title {
  font-weight: bold; }

.person-info {
  position: absolute;
  right: 100%;
  width: 50%;
  margin-top: -15%;
  font-family: "proxima-nova", sans-serif; }
  .person-info .person-name-title {
    padding-top: 10px; }
  .person-info .name, .person-info .title {
    font-size: 2rem; }
  .person-info .title {
    font-style: italic; }
  @media only screen and (max-width: 1200px) {
    .person-info {
      text-align: center; } }

.headshot img {
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
  display: block; }

.article-date {
  position: absolute;
  bottom: -25px;
  right: 20px; }
  .article-date span {
    font-size: 1.3rem;
    color: #aaaaaa;
    font-family: "proxima-nova", sans-serif; }

.main-content-wrapper {
  padding-top: 100vh; }

.article-container {
  position: relative;
  z-index: 5;
  background-color: white; }

.article-content {
  padding-top: 40px; }
  .article-content img {
    max-width: 100%; }

.article-lede {
  font-style: italic;
  line-height: 1.5; }

.article-subhead {
  font-weight: bold;
  margin: 40px 0 20px 0; }

.article-section p {
  position: relative; }

@media only screen and (min-width: 992px) {
  .aside {
    position: absolute;
    font-size: 1.6rem;
    font-family: "proxima-nova", sans-serif;
    margin-top: -25%; } }
@media only screen and (min-width: 992px) {
  .aside.right {
    left: 100%;
    margin-left: 20px; } }
@media only screen and (min-width: 992px) {
  .aside.left {
    right: 100%;
    margin-right: 20px; } }

.panel, .panel-body {
  font-family: "proxima-nova", sans-serif; }
  .panel p, .panel-body p {
    font-size: 2rem; }

@media only screen and (max-width: 768px) {
  .letter-container {
    margin-bottom: 20px; } }
@media only screen and (min-width: 768px) {
  .letter-container {
    width: 32%;
    padding-bottom: 40px;
    position: relative; } }

.letters-to-the-editor {
  padding-bottom: 40px; }

.letter {
  padding: 20px; }

.letter-label {
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
  font-size: 1.8rem; }

.letter-title {
  margin-top: 0; }

.letter-summary {
  display: block; }

.letter-summary p {
  font-size: 2rem; }

.letter-author {
  font-family: "proxima-nova", sans-serif;
  font-size: 2rem; }

@media only screen and (min-width: 768px) {
  .letter-read-more {
    position: absolute;
    bottom: 20px; } }
